javascript:
	var ready;
	ready = function() {
		$('img').each(function(){
			$(this).draggable();
		});
	}
	$(document).ready(ready);
	$(document).on('page:load', ready);

<div style="text-align: center;">
	<span style="font-size: xx-large; line-height: 1.5;">
	<b>"Octocat"&nbsp;</b>
	</span>
</div>
<div style="text-align: center;">
	<span style="line-height: 1.5;">
	<font size="5">Your very best friend</font>
	</span>
</div>
<div>
	<img src="http://p4s.co/photo/p543-2013-11-15-04-04-46.png" id="UIimage108d4" class="img ui-draggable ui-draggable-handle" onclick="UIImg(&quot;108d4&quot;)" width="nullpx" height="nullpx" style="position: relative; left: 316px; top: 21px;">
</div>
<div style="text-align: center;">
	<i style="font-size: medium; line-height: 1.5; background-color: rgb(255, 255, 255);">
	<font color="#bbbbbb">
	<br>
	</font>
	</i>
</div>
<div style="text-align: center;">
	<i style="font-size: medium; line-height: 1.5; background-color: rgb(255, 255, 255);">
	<font color="#bbbbbb">"May the Miau be with you"</font>
</i>
<br>
</div>